body {
    min-height: 4096px;
    margin: 0; /* enlever les marges par défaut */

}

#footer {
    width: 100%;        /* il prend toute la largeur */
    height: 50px;       /* hauteur de la barre */
    position: fixed;    /* reste à la même position même au scroll */
    bottom: 0;          /* collé en bas */
    left: 0;
    background-color: hsl(var(--scroll,0), 100%, 50%);

}
